body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Celeb{
  overflow-y: scroll;
  height: 80vh;
  width: 35vh;
}

.Celeb img{

  height: 60px;
  width: 60px;
}

.Bold span{
  color:blue;
  font-size:30px;
 }
 
 .Bold:hover span{
  font-weight:bold;
 }
 
 .Bold:hover{
  text-decoration:underline;
  font-weight:bold;
 }